/* Inclyo este css a pesar de que no es solicitado para darle un mejor formato a las imagenes svg */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #e5e9f2;
    padding: 20px;
    text-align: center;
    color: #47525e;
    padding: 20px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.navList {
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
}

.navList li {
    list-style-type: none;
    margin: 10px 10px;
}

ul li a {
    text-decoration: none;
    color: #47525e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

h1 {
    font-size: 1rem;
    font-weight: 500;
    color: #47525e;
    grid-area: h1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #47525e;
    grid-area: h2;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #47525e;
    grid-area: h3;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #47525e;
    grid-area: h4;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #47525e;
    grid-area: h5;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 10px 0;
    grid-area: p;
    text-align: justify;
}

a {
    text-decoration: none;
}

button {
    background-color: #47525e;
    color: #e5e9f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: .7rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.button {
    grid-area: btn;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttonSecondary {
    background-color: #fff;
    color: #47525e;
}

input {
    border: none;
    border-radius: 10px;
    padding: .7rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

textarea {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

select {
    background-color: #fff;
    color: #47525e;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
    width: 200px;
}

.productFilter {
    display: flex;
    justify-content: center;
    grid-area: filter;
}

.searchBox {
    background-color: #e5e9f2;
    color: #47525e;
    grid-area: srch;
}

.threeImgSquare {
    background-color: #fff;
    padding: 70px 0;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    grid-template-areas:
        "img1 img2 img3";
    justify-content: center;
}

.threeImgSquare figure {
    width: 375px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.threeImgSquare figure figcaption {
    padding: 15px 0;
    text-align: center;
}

.leftImage {
    background-color: #e5e9f2;
    padding: 70px 0 70px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: auto;
    grid-template-areas:
        "titleParagraph img";
}

.titleParagraph {
    width: 430px;
    grid-area: titleParagraph;
}

img {
    grid-area: img;
}

.mediaShow {
    background-color: #fff;
    padding: 70px 0;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
        "h2"
        "p"
        "imgGrid";
}

.imgGrid {
    grid-area: imgGrid;
    margin: 50px 0;
    gap: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
    align-items: stretch;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
}

#imgGridIndex {
    grid-template-areas:
        "img1 img2"
        "img1 img3"
        "img5 img4"
        "img6 img4";
    ;
}

#imgGridProduct {
    gap: 2rem;
    grid-template-areas:
        "img1 img2 img3 img4"
        "img5 img6 img7 img8"
        "img9 img10 img11 img12"
    ;
}

#imgGridProduct figure figcaption{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img1 {
    grid-area: img1;
    margin: 0;
    padding: 0;
}

.img2 {
    grid-area: img2;
    margin: 0;
    padding: 0;
}

.img3 {
    grid-area: img3;
    margin: 0;
    padding: 0;
}

.img4 {
    grid-area: img4;
    margin: 0;
    padding: 0;
}

.img5 {
    grid-area: img5;
    margin: 0;
    padding: 0;
}

.img6 {
    grid-area: img6;
    margin: 0;
    padding: 0;
}

.searchHeader {
    /* margin-bottom: 100px; */
    grid-area: searchHeader;
    display: grid;
    grid-template-areas: "p srch";
    align-items: center;
    justify-content: space-between;
}

.productGrid {
    padding: 70px 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    justify-items: stretch;
    grid-template-areas:
        "searchHeader"
        "imgGrid"
        "paginator"
    ;
}

.imgGrid div figure {
    width: 270px;
}

.imgGrid div figure figcaption {
    padding: 15px 0;
    text-align: justify;
}

.paginator {
    grid-area: paginator;
    text-align: center;
    display: flex;
    justify-content: center;
}

.paginator button {
    background-color: #e5e9f2;
    border: none;
    color: #47525e;
    padding: 10px;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    width: 36px;
    height: 36px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 0;
}

.videoShow {
    padding: 100px;
    text-align: center;
}

.videoShow iframe {
    border-radius: 20px;
    margin-top: 30px;
    width: 80%;
    height: 480px;
    border: none;
}

.mapEmbed {
    padding: 100px;
    text-align: center;
}

.directionInfo {
    background-color: #fff;
    width: 400px;
    padding: 30px;
    text-align: left;
}

.threeImgEllipse {
    background-color: #e5e9f2;
    padding: 100px;
}

.threeImgEllipse figure {
    width: 375px;
    text-align: center;
}

.threeImgEllipse figure figcaption {
    padding: 15px 0;
}

.threeImgEllipse figure figcaption p {
    text-align: justify;
}

.threeImgEllipse figure img {
    border-radius: 50%;
}

.contactForm {
    background-color: #e5e9f2;
    padding: 100px;
}

.questions {
    background-color: #fff;
    padding: 50px 100px;
    width: 80%;
}

.questions h2 {
    margin-bottom: 30px;
}

.questions div h4 {
    padding: 10px;
    background-color: #e5e9f2;
    margin-top: 15px;
    border-radius: 10px;
}

.questions div p {
    margin: 10px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-align: justify;
}


/* .questions div {
    width: 80%;
} */

#inicio {
    grid-template-areas:
        "h1 . nav nav"
        ". . . . "
        ". h2 h2 ."
        ". h3 h3 ."
        ". . . . "
        ". btn btn .";
}

#productos {
    grid-template-areas:
        "h1 . nav nav"
        ". . . . "
        ". h2 h2 ."
        ". h3 h3 ."
        ". . . . "
        ". filter filter .";
}

#paginatorFirst {
    border-radius: 10px 0 0 10px;
}

#paginatorLast {
    border-radius: 0 10px 10px 0;
}

#referFAQs {
    background-color: #fff;
}

#questionEnvios {
    margin-top: 50px;
}

#questionDevoluciones {
    margin-bottom: 50px;
}

footer {
    background-color: #47525e;
    padding: 50px 0;
    display: grid;
    gap: 5rem;
    grid-template-columns: auto;
    grid-template-areas:
        "footNav subs btn";
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.footNavList a {
    text-decoration: none;
    color: #e5e9f2;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

footer button {
    background-color: #e5e9f2;
    color: rgb(71, 82, 94);
}

.contactIcons a img {
    height: 20px;
    margin: 0 10px;
}

.footNavList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    grid-area: footNav;
}

.footNavList li {
    list-style-type: none;
    margin: 10px 10px;
}

.subscription {
    grid-area: subs;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription form p {
    color: #e5e9f2;
    text-align: center;
}

.subscription form div {
    display: flex;
}

.contactIcons {
    grid-area: icons;
    display: flex;
    margin: 10px 0;
}

.button button img{
    height: 1rem;
    margin: 0 0 0 10px;
}


/* Un poquito de magia para convertir los colores de los svg... */

.filterDark {
    filter: invert(27%) sepia(2%) saturate(4986%) hue-rotate(172deg) brightness(91%) contrast(72%);
}

.filterLight {
    filter: invert(96%) sepia(3%) saturate(2024%) hue-rotate(186deg) brightness(101%) contrast(90%);
}